header img{
    margin-top:20px;
    margin-bottom:10px;
    border-radius: 15px;
    width : 100%;
}
.card{
    border-radius: 15px;
    box-shadow:  20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media screen and (max-width: 641px) {
    header img{
        margin-top:20px;
        margin-bottom:10px;
        border-radius: 20px;
        width: 100%;
    }
}